<div class="top">
    <a class="btn btn-info btn-sm" routerLink="/addCustomer">Add Customer</a>
</div>
<div class="card-container">
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title">Dinesh K. Shah</div>
        <div>
            <div class="image-container">
            <img src="https://readyrefrigeration.ca/sites/default/files/styles/headshot/adaptive-image/public/nobody.jpg"> 
            </div>
            <div class="info">
                <p>Developer</p>
                <p>Imadole, Lalitpur</p>
                <p>9807654321</p>
            </div>
        </div>
    </div>
</div>