<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-info" routerLink="/addQuestions">Add Questions</a>
        <form [formGroup]="searchForm">
            <div class="form-group row">
                <label for="category_id" class="col-sm-1 col-form-label">Category</label>
                <div class="col-sm-4">
                    <select formControlName="category_id" class="form-control" id="category_id">
                        <option value="">-- Select --</option>
                        <option *ngFor="let category of categories;" value="{{ category.id }}">{{ category.category }}</option>
                    </select>
                </div>
                <label for="title" class="col-sm-1 col-form-label">Titie</label>
                <div class="col-sm-4">
                    <input type="text" formControlName="title" id="title" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button (click)="search()" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>S.N.</th>
                <th>Category</th>
                <th>Question</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ question.category.category }}</td>
                    <td>
                        {{ question.title }}
                        <ol>
                            <li *ngFor="let answer of question.answers" [ngClass]="(answer.is_true=='1')?'correct-answer':''">{{ answer.answer }}</li>
                        </ol>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" [routerLink]="['/editQuestions', question.id]">
                            Edit
                        </a>&nbsp;&nbsp;
                        <button class="btn btn-danger btn-sm" (click)="deleteQuestion(question.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" *ngFor="let item of pages"  [ngClass]="(item==currentPage)?'active':''"><a class="page-link" (click)="search(item)" href="javascript:void(0);" >{{ item  }}</a></li>
            </ul>
        </nav>
    </div>
</div>